@page "/adultCreation"
@using FileData
@using global::Models

<h3>AdultCreation</h3>

<label>First Name: &nbsp;</label>
<input type="text" placeholder="First Name" @bind-value="FirstName"/>
<br>

<label>Last Name: &nbsp;</label>
<input type="text" placeholder="Last Name" @bind-value="LastName"/>
<br>

<label>Hair Color: &nbsp;</label>
<input type="text" placeholder="Hair Color" @bind-value="HairColor"/>
<br>

<label>Eye Color: &nbsp;</label>
<input type="text" placeholder="Eye Color" @bind-value="EyeColor"/>
<br>

<label>Sex: &nbsp;</label>
<input type="text" placeholder="Sex" @bind-value="Sex"/>
<br>

<label>Age: &nbsp;</label>
<input type="text" placeholder="Age" @bind-value="Age"/>
<br>

<label>Height: &nbsp;</label>
<input type="text" placeholder="Height" @bind-value="Height"/>
<br>

<label>Weight: &nbsp;</label>
<input type="text" placeholder="Weight" @bind-value="Weight"/>
<br>

<button class="btn btn-primary" @onclick="submit">Submit</button>

@code {
    private string FirstName, LastName, HairColor, EyeColor, Sex;
    private int Age, Height, Id;
    private float Weight;
    FileContext adultFromJson = new FileContext();
    
    
    public void submit()
    {
        try
        {
            Id = adultFromJson.Adults.Count;

            adultFromJson.Adults.Add(new Adult(Id,FirstName,LastName,HairColor,EyeColor,Age,Weight,Height,Sex));
            
            adultFromJson.SaveChanges();

            FirstName = "";
            LastName = "";
            HairColor = "";
            EyeColor = "";
            Sex = "";
            Age = new int();
            Height = new int();
            Id = new int();
            Weight = new float();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}