@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Welcome!</h1>


<AuthorizeView>
    <NotAuthorized>
        <p>Your current security level is: 0</p>
        <p>Login to get your designated security level</p>
    </NotAuthorized>
    <Authorized>
        <p>Hello @context.User.Identity.Name !</p>
        <p>Your security level is @context.User.FindFirst(claim => claim.Type.Equals("Level")).Value</p>
    </Authorized>
</AuthorizeView>


